.header-top {
    background-color: $bg_green;
    height: 42px;
    color: #fff;
    text-align: center;
    font-size: 1.3em;

    .buy-now-btn {
        border: 1px solid #fff;
        padding: 4px 25px;
        border-radius: 4px;
        margin-top: 8px;
        margin-left: 10px;
        @include inblock;
    }
    ._text {
        @include inblock;
        line-height: 40px;
    }
}

.header {
    height: 86px;
    background-color: #fff;
    font-size: 1.4em;

}

.logo {
    @include bg(0, 0, "logo.png");
    width: 197px;
    height: 70px;
    margin-top: 5px;
    margin-left: 5px;
    float: left;
}

.logo a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
}

.navigation {
    float: left;
    margin-left: 40px;

}

.nav-link {
    color: $clr_link_header;
    line-height: 82px;
    margin: 0 10px;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    float: left;

    &:hover,
    &.active {
        border-bottom: 4px solid $clr_orange;
    }
}

.right-block {
    float: right;
    margin-right: 45px;

}

.buy-tickets {
    float: left;
    height: 86px;
    padding: 0 25px;
    line-height: 82px;
    text-transform: uppercase;
    color: #fff;
    background-color: $clr_orange;

    &:hover {
        background-color: #e0803c;
    }
}

.questions {
    float: left;
    height: 84px;
    width: 65px;
    border: 1px solid #d7d7d7;
    text-align: center;

    ._ico {
        @include bg();
        width: 15px;
        height: 25px;
        @include inblock;
        margin-top: 28px;

    }
}

.basket {
    display: none;
    float: left;
    height: 84px;
    width: 65px;
    text-align: center;
    border-top: 1px solid #d7d7d7;
    border-bottom: 1px solid #d7d7d7;
    border-right: 1px solid #d7d7d7;

    ._ico {
        width: 26px;
        height: 27px;
        @include inblock;
        @include bg(0, -28px);
        margin-top: 28px;
        position: relative;
    }
    .count {
        position: absolute;
        font-style: normal;
        padding: 2px 5px;
        color: #fff;
        font-size: 10px;
        background-color: $clr_orange;
        border-radius: 50%;
        top: -4px;
        right: -2px;
        @include inblock;
    }
}

.reserve-tickets img {
    width: 303px;
    height: 95px;
    margin: 15px auto;
}

.main-pic {
    position: relative;
    overflow: hidden;
    ._bg {
        background: url("../img/temp/item5-0.jpg") no-repeat 50% 50%;;
        background-size: cover;

        height: 470px;
    }
    &.index-page ._bg {
        background: url("../img/main-pic.jpg") no-repeat 50% 50%;;
    }
}


.main-pic-title {
    position: absolute;
    bottom: 0;
    color: #fff;
    font-size: 30px;
    line-height: 54px;
    background-color: rgba(100, 98, 101, 0.57);
    width: 100%;
    text-align: center;
    font-weight: 500;
}

.main-part.order-page {
    background-color: #efeff4;
}

.main-tab-item-wrapper {
    background-color: #f0f694;
    line-height: 64px;
    text-align: center;

    .order-page & {
        background-color: #efeff4;
    }
}

.main-tab-item {
    color: #fff;
    font-size: 2.4em;
    background-color: $bg_green;
    width: 353px;
    @include inblock;
    cursor: pointer;
    @include box-sizing;

    &:hover {
        background-color: #f0f694;

        .order-page & {
            background-color: $clr_orange;
        }
    }
    ._mobile {
        display: none;
    }


    &.selected {
        color: #000;
        background-color: #fff;

        .order-page & {
            background-color: $clr_orange;
            color: #fff;
        }
    }
    &.info {
        border-left: 0!important;
        border-right: 0!important;
    }

    .order-page & {
        background-color: #fff;
        color: #000;
        font-size: 20px;
        border:1px solid #dadada;


        &:first-child {
            border-radius: 0 0 0 5px;
        }
        &:last-child {
            border-radius: 0 0 5px 0;
        }
    }
}

.main-tab-content {
    font-size: 1.6em;
    margin-bottom: 30px;
    line-height: 30px;
    padding: 30px 45px;

    ._title {
        font-size: 20px;
        font-weight: 700;
    }

    &.welc {
        text-align: center;
    }
    &.reserv {
        //margin-top: 30px;
    }
    .order-page & {
        padding: 30px;
        border-left: 1px solid #dadada;
        border-right: 1px solid #dadada;
        border-bottom: 1px solid #dadada;
        margin: 0 43px 20px;
        background-color: #fff;
        border-radius: 0 0 3px 3px;
    }
}

.pic-wrap {
    margin: 30px 0;
}

.faq-title {
    text-transform: uppercase;
    font-size: 20px;
    color: $clr_info;
    text-align: center;
    font-weight: 400;
    margin-top: 30px;
}

.faq-title-h2 {
    color: $clr_info;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
}

.question-block-wrap {
    //padding: 0 20px;
}

.question-block {
    font-weight: 700;

}

.answer-block {
    margin-left: 50px;
}

.reservation-item {
    width: 32%;
    margin-left: 2%;
    max-width: 340px;
    margin-bottom: 30px;
    overflow: hidden;

    //width: 340px;
    //margin-left: 15px;
    float: left;
    line-height: 18px;
    font-size: 14px;

    &:nth-child(3n+1) {
        margin-left: 0;
    }

    ._bg-pic {

        width: 340px;
        height: 190px;

        &.item1 {
            background: url('../img/temp/item3.jpg') no-repeat 50% 50%;
            background-size: cover;
        }
        &.item2 {
            background: url('../img/temp/item4.jpg') no-repeat 50% 50%;
            background-size: cover;
        }
        &.item3 {
            background: url('../img/temp/item5-0.jpg') no-repeat 50% 50%;
            background-size: cover;
        }
        &.item4 {
            background: url('../img/temp/item7.jpg') no-repeat 50% 50%;
            background-size: cover;
        }
        &.item5 {
            background: url('../img/temp/item6.jpg') no-repeat 50% 50%;
            background-size: cover;
        }
        &.item6 {
            background: url('../img/temp/item8.jpg') no-repeat 50% 50%;
            background-size: cover;
        }

    }
    ._title-res {
        font-weight: 700;
        text-transform: uppercase;
        background-color: #d4dce2;
        height: 37px;
        max-height: 37px;
        padding: 5px 10px;
        overflow: hidden;
    }
    ._description {
        background-color: #eff3f6;
        padding: 5px 10px;

    }
    .btn-group {
        color: #fff;
        text-align: center;
        line-height: 34px;
        box-shadow: 0 2px 5px -1px #bcbcbc;

        .btn-check {
            width: 50%;
            float: left;
            background-color: #dbdd59;
            text-shadow: -1px -1px #bcbcbc;
            font-weight: 700;

            &:hover {
                background-color: #cacc53;
            }

        }
        .btn-book {
            width: 50%;
            float: left;
            background-color: #f58c42;
            text-shadow: -1px -1px #bcbcbc;
            font-weight: 700;

            &:hover {
                background-color: #e0803c;
            }
        }
    }
}

.footer {
    background-color: $bg_green;
    color: #fff;
    font-size: 14px;
    padding: 20px 0;
    box-sizing: border-box;
    line-height: 24px;

    .info {
        margin-top: 5px;
    }

    .item {
        float: left;
        padding: 0 70px;
        border-left: 1px solid #fff;
        height: 210px;
        &:first-child {
            border-left: none;
        }
    }
    .map-it {
        color: #fbba20;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}

.footer-link {
    display: block;
    color: #fff;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.footer-logo {
    margin-top: 30px;
}

.footer-link-wrap {
    margin-top: 30px;
}

.footer-mobile {
    display: none;
    height: 59px;
    border-top: 1px solid #c6c6c6;
    font-size: 14px;
    padding: 0 10px;
    text-align: right;
    margin-top: -60px;

    a {
        color: #b2b856;
        text-decoration: none;
        line-height: 40px;

        &:hover {
            text-decoration: underline;
        }
    }
}

.mobile-menu {
    display: none;
    height: 45px;
    padding: 0 10px;
    float: left;
    border-left: 1px solid #d9d9d9;
    border-right: 1px solid #d9d9d9;

    ._ico {
        @include inblock;
        width: 25px;
        height: 23px;
        @include bg(0, -67px);
        margin-top: 9px;
    }
}

.mobile-menu-block {
    display: none;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    bottom: 0;
    width: 200px;
    background-color: #979797; /***********************/
}


