.packages-info {
    color:$clr_info;
    font-size: 18px;
}
.available-p {
    color:$clr_info;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: underline;

    &:hover{
        text-decoration: none;
    }

}
.cost-package{
    color:$clr_info;
    font-size: 18px;
    text-decoration: none;
    text-transform: capitalize;
}
.packages-adv {
    list-style: circle;
}
.order-tab {
    margin-top: -30px;
}
.order-navigation {

}
.order-step {
    
}