$clr_def: #000;
$clr_title: #444444;

$clr_link_header:#9eb80c;
$clr_green: #7da002;
$clr_orange:#f58c42;
$clr_info:#998548;








$bg_green: #dce374;
$bg_green_hover: #a0be3f;


$clr_link: $clr_green;

$page_min: 320px;
$page_max: 1150px;
$height_footer: 250px;

$pt: 'Oxygen', Arial, Helvetica, sans-serif;
$ptr: Tahoma, Arial, Helvetica, sans-serif;

$grid_gutter_width: 20px;